<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Why goal setting is valuable to <br><em>improving your wellness</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                            <div class="fl-right">
                              <img src="app/styles/images/goal-setting.jpg" width="184" height="204" alt="Goal Setting">
                            </div>                        
                                <p>“If you don’t know where you are going, how will you
                            know when you get there?”</p>
                        <ul>
                            <li>A basic skill of wellness management is being
                                clear about what want, so that you are always
                                acting in a purposeful way to achieve
                                outcomes. A goal is what you want. A task is
                                what you have to do to achieve a goal. Don’t
                                do tasks until you set your goals.
                            </li>
                            <li> Goal Setting has four basic elements;
                                <ol>
                                    <li>Know your present situation – where
                                        you are now</li>
                                    <li>Know your desired situation – where you want to be</li>
                                    <li>Know why you want to move - the values that guide you</li>
                                    <li>Plan your strategy – how to get from where you are to where you
                                        want to be, using the resources you already have or creating new
                                        ones
                                    </li>
                                </ol>
                            </li>

                            <li>Without goals our life can seem much less meaningful and we may feel
                                ‘adrift’ or ‘going nowhere’.
                            </li>
                            <li>By defining goals – short, medium and long term, choosing actions to
                                achieve them and discovering ways to overcome barriers to achieving
                                them - we can gain in purpose, motivation and effort.
                            </li>
                            <li>Successfully executing any personal strategic plan for change requires that
                                you develop a plan, incorporating these steps will assist you in attaining
                                each and every goal. Being SMART (Specific, Measurable, Achievable,
                                Realistic and Time managed) is an essential part of the process.</li>
                            <li><b> Express your goal in terms of specific events or behaviours.</b><br>
                                For a dream to become a goal, it has to be specifically defined. When a
                                goal is broken down into steps, it can be managed and pursued much
                                more directly. "Being happy," for example, is neither an event nor
                                behaviour. When you set out to identify a goal, define what you want in
                                clear and specific terms.
                            </li>
                            <li><b> Express your goal in terms that can be measured. </b><br>
                                How will you be able to determine your level of progress, or even know
                                when you have successfully arrived where you wanted to be? For
                                instance, how much money do you aspire to make?
                            </li>
                            <li><b>Choose a goal you can control.</b><br>
                                Unlike dreams, which allow you to fantasise about events over which you
                                have no control, goals have to do with aspects of your existence that you
                                can manage and can therefore manipulate. In identifying your goal, strive
                                for what you can influence. How committed are you to the goal? Score
                                yourself 1 – 10 (10 = maximum commitment), research indicates that
                                commitment scores of 6 or less rarely succeed.
                            </li>
                            <li><b> Plan and program a strategy that will get you to your goal.</b><br>
                                Pursuing a goal seriously requires that you realistically assess the
                                obstacles and resources involved, and that you create a strategy for
                                navigating that reality. Willpower is unreliable because it is based on your
                                emotions. Your environment, your schedule and your accountability must
                                be programmed in such a way that all three support you — long after an
                                emotional high is gone. Life is full of temptations and opportunities to fail.
                                Those temptations and opportunities compete with your more constructive
                                and task-oriented behaviour. Without programming, you will find it much
                                harder to stay the course.
                            </li>
                            <li><b> Create accountability for your progress toward your goal.</b><br>

                                Without accountability, people are apt to con themselves. If you know
                                precisely what you want, when you want it and there are real
                                consequences for not doing the assigned work you are much more likely to
                                continue in your pursuit of your goal. Find someone, who can be objective,
                                to whom you can be accountable. Be aware that the negative attitude from
                                friends, family and neighbours can drag you down quickly. It’s important
                                that your self-talk (the thoughts in your head) are positive.
                            </li>
                            <li><b> Be realistic: define your goal in terms of steps.</b><br>
                                Major life changes don't just happen; they need one step at a time. Steady
                                progress, through well-chosen, realistic, steps, produces results in the end
                                <ol>
                                    <li>Write down what those steps are before you set out, writing things
                                        down increases the likelihood of them being acted on. Score
                                        yourself 1 – 10 (10 = extremely difficult).</li>
                                    <li>As a rule long-term goals are best set at difficult but achievable
                                        level (about 7 or 8), and shorter-term goals at a moderately difficult
                                        and very achievable level (about 4 or 5).</li>
                                </ol>
                            </li>
                            <li><b> Assign a timeline to your goal.</b><br>
                                Once you have determined precisely what it is you want you must decide
                                on a timeframe for having it. The deadline you've created fosters a sense
                                of urgency or purpose, which in turn will serve as an important motivator,
                                and prevent inertia or procrastination.
                            </li>
                            <li> Reviewing goals daily is a crucial part of your success and should become
                                part of your routine.
                                <ol>
                                    <li>Each morning, read your list of goals that are written in the positive.</li>
                                    <li>Relive the new scenario that will materialise when you achieve your
                                        goal.</li>
                                    <li>Then, each night, before you go to bed, repeat the process.</li>
                                    <li>This process will engage your conscious and unconscious mind on
                                        working towards the goal.</li>
                                    <li>This will replace any negative self-talk you may have and replace it
                                        with positive self-talk</li>
                                </ol>
                            </li>
                            <li>It is important to review your progress at the end of each timeline. If you
                                have not achieved your target goal do not be discouraged. Use the
                                learning to identify what corrections you need to add to your plan.
                                Remember, in this process there is no failure, just actions that either move
                                you toward your goal or in another direction. <b>You decide.</b></li>

                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
